
{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/footerinfo.css" %}">
{% endblock %}


{% block content %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/is_IS/sdk.js#xfbml=1&version=v7.0"></script>
 <body>
      <div class="container">
    <div class="card-panel white">
    <div class="row container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="row">
                    <h3>About Us</h3>
                </div>

                <div class="row">
                    <p>At Captain Console, we're crazy about retro games and have an undying love for what we consider to have been the golden years of gaming.</p>
                </div>

                <div class="row">
                    <p>To us, these games were actually fun to play, which is a far cry from the dull and repetitive nature of modern games that are meant to capture a wider casual audience, purely for the profit. Whether it's the obsession with graphics or the countless DLCs, we are simply sick and tired of modern games.</p>
                </div>

                <div class="row">
                    <p>We believe newer generations, who are not fortunate enough to have experienced the golden years of gaming, will finally have the chance to do so thanks to this site.</p>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col s3 offset-s2">
                <div class="row">
                    <div class="fb-page"
                      data-href="https://www.facebook.com/Captain-Console-100282701679447"
                      data-width="380"
                      data-hide-cover="false"
                      data-show-facepile="false"></div>
                </div>
            </div>
        </div>

{#    https://www.facebook.com/Captain-Console-100282701679447/#}

    </div>
    </div>
     </div>
    </body>


{% endblock %}
