
{% extends 'base.html' %}
{% load static %}


{% block content %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/is_IS/sdk.js#xfbml=1&version=v7.0"></script>


    <div class="row container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="row">
                    <h3>{{ article.title }}</h3>
                </div>

                <div class="row">
                    <p>
                    {{ article.date }}
                    </p>
                </div>

                <div class="row">
                    <p>{{ article.article }}</p>
                </div>


            </div>
        </div>

        <div class="row">
            <div class="col s3 offset-s2">
                <div class="row">
                    <div class="fb-page"
                      data-href="https://www.facebook.com/Captain-Console-100282701679447"
                      data-width="380"
                      data-hide-cover="false"
                      data-show-facepile="false"></div>
                </div>
            </div>
        </div>

{#    https://www.facebook.com/Captain-Console-100282701679447/#}

    </div>


{% endblock %}
