{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/landing.css" %}">
{% endblock %}

{% block content %}

    <div class="parallax-container">
        <div class="parallax"><img src="https://photos.alexfreyr.com/gameconsole.jpg" class="responsive-img"></div>
    </div>

    <div class="content-background">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l4">
                    <h3>News</h3>
                    <!-- Make these cards dynamically served from models -->
                    <div class="card blue accent-3 card-news">
                        <div class="card-content white-text">
                            <span class="card-title">Mario Bros Speedrun record broken</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="yellow-text text-accent-2">Read more...</a>
                        </div>
                    </div>

                    <div class="card blue accent-3 card-news">
                        <div class="card-content white-text">
                            <span class="card-title">Sony hacked</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="yellow-text text-accent-2">Read more...</a>
                        </div>
                    </div>
                    <!-- ################################################ -->

                </div>
                <div class="col s12 m12 l8">
                    <h3>Trending now</h3>

                    <div class="row">
                        {% for product in products %}
                            <div class="col s12 m6 l6 xl4">
                                <a href="{% url "product_details" product.product_id.id %}">
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        {% if product.product_id.discount > 0 %}
                                            <div class="tag">-{{ product.product_id.get_discount }}%</div>
                                        {% endif %}
                                        <img class="activator" src="{{ product.path }}">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title activator grey-text text-darken-4">{{ product.product_id.name }}</span>
                                        {% if product.product_id.discount <= 0 %}
                                            <strong class="flow-text set-price">${{ product.product_id.price }}</strong>
                                        {% else %}
                                            <strong class="flow-text">
                                                <span class="set-price">
                                                     ${{ product.product_id.get_discounted_price }}
                                                </span>
                                                <span class="discount">
                                                    <sup>${{ product.product_id.price }}</sup>
                                                </span>
                                            </strong>
                                        {% endif %}
                                    </div>
                                    <div class="card-action">
                                        <a href="{% url "product_details" product.product_id.id %}" class="blue-text text-accent-3">See details</a>
                                        <a href="#" class="blue-text text-accent-3"><i class="material-icons">shopping_cart</i></a>
                                    </div>
                                </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}