{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/landing.css" %}">
    <link rel="stylesheet" href="{% static 'css/shared/product-card-view.css' %}">
{% endblock %}

{% block content %}

    <div class="parallax-container">
        <div class="parallax">
            <img src="https://photos.alexfreyr.com/banner-image.jpg" class="place_higher">
        </div>
    </div>

    <div class="content-background">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l4">
                    <h3>News</h3>

                    {% include 'home/news.html' with articles=articles %}

                </div>
                <div class="col s12 m12 l8">
                    <h3>Trending Now</h3>

                    <div class="row">
                        {% for product in products %}
                            <div class="col s12 m6 l6 xl4">
                                {% include 'product-card-view.html' with product=product %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}