{% extends 'base.html' %}

{% block content %}

    <div class="parallax-container">
        <div class="parallax"><img src="https://photos.alexfreyr.com/gameconsole.jpg"></div>
    </div>

    <div class="content-background">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l4">
                    <h3>News</h3>
                    <!-- Make these cards dynamically served from models -->
                    <div class="card blue accent-3">
                        <div class="card-content white-text">
                            <span class="card-title">Mario Bros Speedrun record broken</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Read more...</a>
                        </div>
                    </div>

                    <div class="card blue accent-3">
                        <div class="card-content white-text">
                            <span class="card-title">Sony hacked</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Read more...</a>
                        </div>
                    </div>
                    <!-- ################################################ -->

                </div>
                <div class="col s12 m12 l8">
                    <h3>Trending now</h3>

                    <!-- Make these cards dynamically served from models -->
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="https://photos.alexfreyr.com/game-covers/super-mario-64-cover.jpg" width="172em" height="172em">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title">Super Mario Bros 64</span>
                                <p>Price here</p>
                            </div>
                            <div class="card-action">
                                <a href="#">See details</a>
                                <a href="#"><i class="material-icons">shopping_cart</i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="https://photos.alexfreyr.com/game-covers/legend-of-zelda-linktothepast-cover.jpg" width="172em" height="172em">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title">Legend of Zelda - Link to the past</span>
                                <p>Price here</p>
                            </div>
                            <div class="card-action">
                                <a href="#">See details</a>
                                <a href="#"><i class="material-icons">shopping_cart</i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="https://photos.alexfreyr.com/game-covers/donkey-kong-cover.png" width="172em" height="172em">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title">Donkey Kong 64</span>
                                <p>Price here</p>
                            </div>
                            <div class="card-action">
                                <a href="#">See details</a>
                                <a href="#"><i class="material-icons">shopping_cart</i></a>
                            </div>
                        </div>
                    </div>

                    <!-- ################################################ -->

                </div>
            </div>
        </div>
    </div>

{% endblock %}