
{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="row">
                    <h3>New Super Mario Bros. speedrun record!</h3>
                </div>

                <div class="row">
                    <p>
                        A new speedrun record was set in the game Super Mario Bros.!
                        Until now, the world record was a time of 4 minutes, 55 seconds, and 583 milliseconds. The runner tonyterrific broke that record with a time of 4 minutes, 55 seconds, and 427 milliseconds!
                    </p>
                </div>

                <div class="row">
                    <p>
                        He said he was really surprised when he realized he had broken the record, as his only focus was going as fast as he could to try to break his own previous record, and not expecting to break the world record.
                        His previous record was a time of 4 minutes, 57 seconds, and 237 milliseconds.
                        So he went from 21st place to 1st place, and now holds a world record!
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}