{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="row">
                    <h3>New PlayStation releases coming soon</h3>
                </div>
                <div class="row">
                    <p>
                        It has been reported that PlayStation will be releasing a good deal of new games for the second half of this year and early next year.
                        Both games, and of course, the highly anticipated PlayStation 5 will make an appearance soon. The games that are expected, will be for both PS4 and PS5. These upcoming releases are sure to appeal to people‘s versatile tastes, as the the genres of the games are versatile. For instance, you can expect action, adventure, strategy and sports games.
                        We can‘t tell you the names of the games just yet, but just know that you‘re in for a great game season!
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}