{%  extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="myStyle.css">
        <title>Order Confirmation</title>
    </head>
    <body class="centering">
        <div class="font textbox">
            <p class="title"> <span class="blue-text">Home</span> / <span class="blue-text">Checkout</span> / Order confirmation</p>
            <div class="border">
                <p class="order">Your order has been placed</p>
                <pre class="text">Thank you for your purchase!
                    <br>A confirmation email will be sent at: personpersonsson@gmail.com
                    <br>Order number:       #00000000 <span class="light-text">(Please quote this in any corrispondance to us)</span>
                    <br>Total cost:              $18.96 <span class="light-text">(Tax included)</span>
                    <br>Your order will be sent for shipping on the next business day
                </pre>
                <br>
                <div class="row">
                    <div class="left-column">
                        <div class="info-title">Shipping address:</div>
                        <div class="shipping-info">
                            <p>Heimsendir 13</p>
                            <p>112, Hvergibær</p>
                            <p>Ísland</p>
                        </div>
                    </div>
                    <div class="right-column">
                        <div class="right-alignment"><span class="info-title words-space">Customer: </span><span class="info">Álfur Álfsson</span> </div>
                        <div class="left-alignment"><span class="date-title">Order </span><span class="date-title words-space">date: </span><span class="info">02/22/20</span> </div>
                        <br>
                        <br>
                        <div class="playing">Happy playing!</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/confirmation.css" %}">
{% endblock %}