<div class="contact-info container">
    <div class="row checkout-process">
        <ul class="checkout-crumbs">
            <li class="active"><span class="flow-text">Contact Info</span></li>
            <li><span class="flow-text">Shipping</span></li>
            <li><span class="flow-text">Payment</span></li>
        </ul>
    </div>
    <div class="card-panel white">
        <h3 class="card-title">Contact information</h3>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix icon-blue">account_box</i>
                        <input id="contact-info" type="text" required>
                        <label for="contact-info">Full name</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" class="validate" required>
                        <label for="email">Email</label>
                        <span class="helper-text" data-error="Please enter a valid email address"></span>
                    </div>
                </div>
                <button class="btn waves-effect blue accent-3" type="submit" name="action">Next Step
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</div>
