{%  extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/checkout.css" %}">
    <link rel="stylesheet" href="{% static "css/shared/custom-breadcrumbs.css" %}">
{% endblock %}

{% block js %}
        <script src="{% static "js/checkout.js" %}"></script>
{%endblock%}

{% block content %}


<div class = "checkout container">
    <div class="checkout_inner container">
        {% include 'checkout/crumbs.html' %}

        <div class="col s4 m6">

            {% if page_checkout == 'contactinfo' %}
                {% include 'checkout/contactinfo.html' %}
            {% elif page_checkout == 'shipping' %}
                {% include 'checkout/shipping.html' %}
            {% elif page_checkout == 'paymentinfo' %}
                {% include 'checkout/paymentinfo.html' %}
            {% endif %}

        </div>
        <div class="col s4 m6 fix-content">
            <div class="">
                <span class="col s12">

                {% include 'checkout/shoppingcart.html' with product=product %}



{#            {% for order in order_history %}#}
{#                {% include 'account/order_history.html' with order=order%}#}
{#            {% endfor %}#}
            </span>
        </div>

    </div>
</div>



{% endblock %}


