{%  extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/checkout.css" %}">
    <link rel="stylesheet" href="{% static "css/shared/custom-breadcrumbs.css" %}">
{% endblock %}

{% block js %}
        <script src="{% static "js/checkout.js" %}"></script>
{%endblock%}

{% block content %}

<div class = "checkout container">
    <div class="checkout_inner container">
        <ul class="crumbs crumbs-store-padding">
            <li><a href="#">Contact Info</a></li>
            <li><a href="shipping">Shipping</a></li>
            <li><a href="payment">Payment</a></li>
            <li class="active"><a href="comfirmation">Confirmation</a></li>
        </ul>

        <div class="col s4 m6">

            {% if page_checkout == 'contactinfo' %}
                {% include 'checkout/contactinfo.html' %}
            {% elif page_checkout == 'shipping' %}
                {% include 'checkout/shipping.html' %}
            {% elif page_checkout == 'paymentinfo' %}
                {% include 'checkout/paymentinfo.html' %}
            {% elif page_checkout == 'confirmation' %}
                {% include 'checkout/confirmation.html' %}
            {% endif %}

        </div>
        <div class="col s4 m6">

            {% include 'checkout/shoppingcart.html' with user=user %}

{#            {% for order in order_history %}#}
{#                {% include 'account/order_history.html' with order=order%}#}
{#            {% endfor %}#}

        </div>
    </div>
</div>
{% endblock %}


