
<h3>Payment information</h3>
    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">account_box</i>
          <input id="icon_prefix" type="text" class="validate" required>
          <label for="icon_prefix">Cardholder name</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">credit_card</i>
          <input id="icon_prefix" type="number" class="validate" required>
          <label for="icon_prefix">Card number</label>
        </div>
      </div>

        <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix"></i>
          <input type="text" class="datepicker" required>
          <label for="datepicker">Expiration date (MM/YY)</label>
        </div>
       <div class="input-field col s2">
          <i class="material-icons prefix">security</i>
          <input id="icon_prefix" type="text" class="validate" required>
          <label for="icon_prefix">CVC (4 digits)</label>
        </div>
      </div>

        <form action="#">
    <p>
      <label>
        <input type="checkbox" />
        <span>Save credit card information for later use</span>
      </label>
    </p>

<a class="waves-effect waves-light btn-small blue accent-3">Confirm Payment</a>
        </form>
    </div>