


{#<div class="col s4 m6">#}
    <div class="card-panel white">
        <span class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <h5>{{ product.first.name }}</h5>
                    <p>{{ product.name }}</p>
                </div>
            </div>

{#            <div class="row">#}
{#                <div class="input-field col s12">#}
{#                    <h5>To be changed</h5>#}
{#                    <p>hjfdkæsa</p>#}
{#                </div>#}
{#            </div>#}


<!--
    A single card that contains the product title, image, price and available discount (if any)
-->


            <div class="row">
                <img class="product-img" src="{{ product.productphoto_set.first.path}}" alt="{{ product.productphoto_set.first.alt }}">

                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ product.name }}</span>
                            {% if product.discount <= 0 %}
                                <strong class="flow-text set-price">${{ product.price }}</strong>
                            {% else %}
                                <strong class="flow-text">
                                    <span class="discount">
                                        <sup>${{ product.price }}</sup>
                                    </span>
                                </strong>
                            {% endif %}
                    </div>
                </div>
            </div>
        </span>
    </div>
{#</div>#}
