{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/store.css" %}">
{% endblock %}

{% block content %}


    </div>
    <div class="row store">
        <div class="banner" col s12">
            Header
        </div>
        <div class="col s3">
        <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn">Dropdown</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
    </div>
    </div>
        <div class="content  col s9">
        {% for product in products %}
            {% include 'store/single_product.html' with product=product%}
        {% endfor %}
    </div>
    </div>

    {% block js %}
        <script src="{% static "js/store.js" %}"></script>
    {%endblock%}
{% endblock %}
