{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/store.css" %}">
    <link rel="stylesheet" href="{% static 'css/shared/product-card-view.css' %}">
    <link rel="stylesheet" href="{% static 'css/shared/custom-breadcrumbs.css' %}">
{% endblock %}

{% block content %}
    <div class="row store-container">
        <ul class="crumbs">
            <li><a href="{% url "home_index" %}">Home</a></li>
            <li class="active"><a href="#">Store</a></li>
        </ul>
        <div class="col s12 m12 l2">    <!-- Filter and select-->
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="search_product" type="text" class="validate" />
                        <label for="search_product">Search product by name</label>
                    </div>
                     <div class="input-field col s12">
                        <select id="orderby">
{#                            <option value="" disabled="disabled" selected="selected">Order by</option>#}
                            <option value="0" selected="selected">Price</option>
                            <option value="1">Name</option>
                            <option value="2">Rating</option>
                        </select><label>Order by</label>
                    </div>
                    <div class="input-field col s12">
                        <select class="filterby" id="developer_filter" >
{#                            <option value="" disabled="disabled" selected="selected">Developer</option>#}
                            <option value="0">All</option>
                            {% for developer in developers %}
                                <option value="{{ forloop.counter }}">{{ developer.developer }}</option>
                            {% endfor %}
                        </select><label>Developer</label>
                    </div>
                    <div class="input-field col s12">
                        <select class="filterby" id="genre_filter">
{#                            <option value="" disabled="disabled" selected="selected">Genre</option>#}
                            <option value="0">All</option>
                            {% for genre in genres %}
                                <option value="{{ forloop.counter }}">{{ genre.genre }}</option>
                            {% endfor %}
                        </select><label>Genre</label>
                    </div>
                 <div class="input-field col s12">
                        <select class="filterby" id="category_filter">
{#                            <option value="" disabled="disabled" selected="selected">Category</option>#}
                            <option value="0">All</option>
                            {% for category in categories %}
                                <option value="{{ forloop.counter }}">{{ category.name }}</option>
                            {% endfor %}
                        </select><label>Category</label>
                    </div>
                </div>

            </form>
        </div>
        <div class="content col s10">  <!-- Products-->
        <div class="filter-message"></div>
            <div class="row all_products">
                {% for product in products %}
                    {% include 'store/single_product.html' with product=product%}
                {% endfor %}
            </div>
        </div>
    </div>

    {% block js %}
        <script src="{% static "js/store.js" %}"></script>
    {%endblock%}
{% endblock %}
