{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/store.css" %}">
{% endblock %}

{% block content %}

    </div>
    <div class="row store">
        <span class="col s12" id="banner">
                <h4> Home / Store</h4>
            </span>
        <div class="content col s2">    <!-- Filter and select-->
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s2"></div>
                        <div class="input-field col s12">
                            <input id="icon_prefix" type="text" class="validate" />
                            <label for="icon_prefix">Search</label>
                        </div>
                         <div class="input-field col s12">
                            <select>
                                <option value="" disabled="disabled" selected="selected">Order by</option>
                                <option value="1">PRICE Low -> High</option>
                                <option value="2">PRICE High -> Low</option>
                                <option value="3">NAME A -> Z</option>
                                <option value="3">NAME Z -> A</option>
                                <option value="3">RATING Low -> High</option>
                                <option value="3">RATING High -> Low</option>


                            </select>
                        </div>
                        <div class="input-field col s12">
                            <select>
                                <option value="" disabled="disabled" selected="selected">Developer</option>
                                <option value="1">Nintendo</option>
                                <option value="2">Sony</option>
                                <option value="3">Sega</option>
                                <option value="3">Amiga</option>
                                <option value="3">Commadore 64</option>
                            </select>
                        </div>
                        <div class="input-field col s12">
                            <select>
                                <option value="" disabled="disabled" selected="selected">Genre</option>
                                <option value="1">First Person Shooter</option>
                                <option value="2">Adventure</option>
                                <option value="3">Arcade</option>
                                <option value="3">RPG</option>
                                <option value="3">Platform</option>
                            </select>
                        </div>
                        <div class="input-field col s2"></div>
                    </div>
                </form>
            </div>
        <div class="content  col s10">  <!-- Products-->
        {% for product in products %}
            {% include 'store/single_product.html' with product=product%}
        {% endfor %}
    </div>
    </div>

    {% block js %}
        <script src="{% static "js/store.js" %}"></script>
    {%endblock%}
{% endblock %}
