{% extends "base.html" %}
{% block content %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/product_details.css" %}">
{% endblock %}

    <div class="row store">
    <span class="col s12" id="banner">
            <h4> Home / Store / Games / Super Mario 64</h4> <!-- Bæta við nafni -->
    </span>
    <div class="container">
         <div class="container details">
            <div class ="image">
                <img class="product-img" src="{{product.productphoto_set.first.path}}" alt="{{ product.productphoto_set.first.alt }}" width="300rem" height="300rem"/>
                <div class="stars">
                    <i class="material-icons checked">star</i>
                    <i class="material-icons checked">star</i>
                    <i class="material-icons checked">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                </div>


            </div>
            <div class ="info">
                <div>  <!-- Products-->
                    <h4>{{ product.name }}</h4>
                    <h7>On stock</h7>
                    <h6>{{ product.productdetails_set.first.description }}</h6>
                    <h6>Release date: {{ product.productdetails_set.first.release_date }}</h6>
                    <h6>Developer: {{ product.developer_set.developer}}</h6>
                    <h6>Genre: {{ product.productdetails_set.first.developer_set.first.developer }} </h6>
                    <div>
                        <div id="product-price">{{ product.price }}$ </div>
                        <a class="waves-effect waves-light btn-small blue lighten-1"><i class="material-icons left">shopping_cart</i>Add to cart</a>
                    </div>
                </div>
             </div>
    </div>
</div>

{% endblock %}