{#<div class="well candy">#}
{#    <a href="/store/{{ product.id }}">#}
{#        <img class="product-img" src="{{product.productphoto_set.first.path}}" />#}
{#        <h4>{{ product.name }}</h4>#}
{#        <p>{{ product.description }}</p>#}
{#    </a>#}
{#</div>#}

<!--
<div class="card product-card">
  <div class="card-image">
      <img class="product-img" src="{{product.productphoto_set.first.path}}" alt="{{ product.productphoto_set.first.alt }}"/>
  </div>
    <div class="card-content">
      <h4>{{ product.name }}</h4>
      <h5>{{ product.price }}$</h5>
    <div class="card-action">
      <a href="#">Details</a>
    </div>
  </div>
</div>
-->

<div class="col s2 m4">
<div class="card horizontal small">
  <div class="card-image">
      <img class="product-img" src="{{product.productphoto_set.first.path}}" alt="{{ product.productphoto_set.first.alt }}" width="172px" height="172px"/>
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <h4>{{ product.name }}</h4>
      <h5>{{ product.price }}$</h5>
    </div>
    <div class="card-action">
      <a href="#">Details</a>
    </div>
  </div>
</div>
</div>