{% comment %}   <div class="row">
       <div class="card-panel white col s12 m5">
           <div class="col s1">{{ review.rating }}</div>
           <div class="col s7">{{ review.comment }}</div>
       </div>
   </div>{% endcomment %}


  <div class="row">
    <div class="col s12 m5">
        <h6>{{ review.user_id.username }}</h6>
      <div class="card-panel blue">
           <div id="stars" data-average="{{ product.average_rating}}" >
                {% if  review.rating > 0 %}
                <span class="yellow"><i class="material-icons">star</i></span>
                    {% else %}
                    <span class="black"><i class="material-icons">star</i></span>
                           {% endif %}
                {% if  review.rating > 1 %}
                <span class="yellow"><i class="material-icons">star</i></span>
                    {% else %}
                    <span class="black"><i class="material-icons">star</i></span>
                {% endif %}
           {% if  review.rating > 2 %}
                <span class="yellow"><i class="material-icons">star</i></span>
                    {% else %}
                    <span class="black"><i class="material-icons">star</i></span>
                {% endif %}
           {% if  review.rating > 3 %}
                <span class="yellow"><i class="material-icons">star</i></span>
                    {% else %}
                    <span class="black"><i class="material-icons">star</i></span>
                {% endif %}
           {% if  review.rating > 4 %}
                <span class="yellow"><i class="material-icons">star</i></span>
                    {% else %}
                    <span class="black"><i class="material-icons">star</i></span>
                {% endif %}
            </div>
        <span class="white-text">
            {{ review.comment }}
        </span>
          <h5>{{ review.rating }}</h5>
      </div>
    </div>
  </div>
