<nav>
    <div class="nav-wrapper blue accent-3">
        <div class="container">
            <a href="#" class="brand-logo center">Logo</a></li>
            <a href="#" data-target="mobile-dropdown" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-store" class="left hide-on-med-and-down">
                <li><a href="{% url "games_index" %}">Games</a></li>
                <li><a href="{% url "consoles_index" %}">Consoles</a></li>
                <li><a href="{% url "store_index" %}">Store</a></li>

            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons">search</i></a></li>
                <li><a href="{% url "shoppingcart_index" %}"><i class="material-icons">shopping_cart</i></a></li>
                <li><a href="{% url "login_index" %}"><i class="material-icons">person</i></a></li>
            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="mobile-dropdown">
    <li><a href="sass.html">Games</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
</ul>