<nav class="nav-extended">
    <div class="nav-wrapper blue accent-3">
        <a href="{% url "home_index" %}" class="brand-logo">Captain Console</a></li>

        <a href="#" data-target="mobile-dropdown" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-store" class="hide-on-med-and-down indent-links">
            <li><a href="{% url "games_index" %}">Games</a></li>
            <li><a href="{% url "consoles_index" %}">Consoles</a></li>
            <li><a href="{% url "store_index" %}">Store</a></li>
        </ul>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <div class="input-field col s6 white-text blue accent-2">
                    <input placeholder="Search" id="search-games" type="text" class="white-text">
                </div>
            </li>
            <li class="blue accent-2"><a href="#"><i class="material-icons">search</i></a></li>
            <li><a href="{% url "checkout_index" %}"><i class="material-icons">shopping_cart</i></a></li>
            <li><a href="{% url "login_index" %}"><i class="material-icons">person</i></a></li>
        </ul>
    </div>
    <!--
    <div class="blue accent-2">
        <div class="nav-content">
            <form>
                <div class="input-field">
                    <input id="search" type="search" class="" placeholder="Search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </div>
    -->
</nav>

<ul class="sidenav" id="mobile-dropdown">
    <li>
        <div class="input-field col s12 white-text blue accent-2">
            <i class="material-icons prefix blue accent-2">search</i>
            <input placeholder="Search" id="search-games" type="text" class="white-text">
            <label for="search-games"></label>
        </div>
    </li>
    <li><a href="{% url "games_index" %}">Games</a></li>
    <li><a href="{% url "consoles_index" %}">Components</a></li>
    <li><a href="{% url "store_index" %}">Javascript</a></li>
</ul>