<nav>
    <div class="nav-wrapper blue accent-3">
        <div class="container">
            <a href="#" class="brand-logo left">Logo</a></li>
            <a href="#" data-target="mobile-dropdown" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-store" class="center">
                <li><a href="badges.html">Games</a></li>
                <li><a href="collapsible.html">Consoles</a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons">search</i></a></li>
                <li><a href="sass.html"><i class="cart-icons">cart</i></a></li>
                <li><a href="sass.html"><i class="profile-icons">profile</i></a></li>

            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="mobile-dropdown">
    <li><a href="sass.html">Games</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
</ul>