.profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
}

body {
    background-color: #f0f0f0;
}

.col.s4.m6 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
    flex-grow: 1;
    width: 40%;

    padding: 15px;
    border-radius: 25px;
    border: 2px solid black;
    background-color: #ffffff;

}

div.account.container {
    width: 90%;
}


form {
    display: inline-block;
}

label, input {
    /* In order to define widths */
    display: inline-block;
}

label {
    width: 30%;
    /* Positions the label text beside the input */
    text-align: right;
}

label + input {
    width: 30%;
    /* Large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
}

/* Only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
input + input {
    float: right;
}

card-image {
    text-align: start;
}

input[type=text] {
      width: 40%;
      padding: 8px 12px;
      margin: 8px 0;
      box-sizing: border-box;
}

 label, button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      border: 3px;
}
