.container .card-panel .card-title {
  text-align: center;
}
.checkout-crumbs{
    width: 100%;
    margin: auto;
}
.checkout-crumbs li{
    display: inline;
    font-size: 32px;
    text-align: center;
}
.checkout-crumbs .active{
    color: #2979ff;
}
.checkout-crumbs .active:hover{
    text-decoration: underline;
    cursor: pointer;
}
ul.checkout-crumbs li+li:before{
    padding: 7px;
    color: black;
    content: "/\00a0";
}
i.icon-blue{
    color: black;
}
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label {
    color: #2979ff !important;
}
.input-field .prefix.active {
    color: #2979ff;
}
.input-field input[type=text]:focus, .input-field input[type=email]:focus {
    border-bottom: 1px solid #2979ff !important;
    box-shadow: 0 1px 0 0 #2979ff !important;
}
