h3 {
  text-align: center;
}

/*.input-field {
    border-style: solid;
    display: block;
    text-align: center;
}

 label, button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px;
}

 .frame {
    justify-content: center;
    display: block;
    flex-wrap: wrap;
     border-style: solid;
}

 .button {
     position: center;
 }
*/