
.title {
    font-size: 27px;
}

.centering {
    padding-top: 120px;
    margin: auto;
    width: 50%
}

.confirmation {
    font-size: 26px;
    font-weight: bold;
    color: #2979FF;
    line-height: 35px;
}

.blue-text {
    color: #2979FF;
}

.text {
    font-size: 15px;
    line-height: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.light-text {
    color: gray;
}

.box-border {
    border-style: solid;
    border-color: #2979FF;
    border-width: thin;
    box-shadow: lightgray 2px 3px;
    position: absolute;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.info-title {
    font-size: 24px;
    line-height: 33px;
}

.date-title {
    font-size: 24px;
    line-height: 55px;
}

.info {
    font-size: 20px;
    line-height: 14px;
}

.shipping-info {
    font-size: 18px;
    line-height: 14px;
}

.left-column {
    width: 50%;
    margin-left: auto;
    float: left;
}

.right-column {
    width: 50%;
    margin-left: auto;
    float: right;
}

.right-alignment {
    text-align: right;
}

.left-alignment {
    padding-left: 31px;
}

.words-space {
    word-spacing: 15px;
}

.playing {
    font-size: 18px;
    text-align: right;
    font-style: italic;
    line-height: 30px;
}