@media (max-width: 1130px) {
  .resize-img {
    width: auto;
    height: 450px;
  }
}

.place_higher{
  object-position: bottom;
  bottom: 150px !important;
}

main.content-background{
  background-color: transparent;
}

.card-news{
  background: #5194ff; /* Old browsers */
  background: -moz-linear-gradient(top,  #5194ff 0%, #2979ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #5194ff 0%,#2979ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #5194ff 0%,#2979ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5194ff', endColorstr='#2979ff',GradientType=0 ); /* IE6-9 */
}

.card-action a{
  display: inline-flex;
  vertical-align: middle;
}

.card-action p{
  text-align: right;
  position: absolute;
  vertical-align: middle;
  display: inline-flex;
}

.discount{
  color: black !important;
  text-decoration: line-through;
}

.set-price{
  color: #2979ff;
}

.tag {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background-color: #FFF;
  padding: 20px 0;
  vertical-align: middle;
  margin: 10px;
  color: #2979ff;
  font-weight: bold;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  border: 3px solid #2979ff;
  font-size: 24px;
  text-align: center;
}