/* Sticking the footer to the end of the page */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Making the container larger */
.container{
    max-width: none !important;
}

/* Slight grey background behind content*/
.content-background{
    background-color: #F6F6F6;
}

.indent-links{
    margin-left: 20em;
}

/* Navbar */

/* label underline focus color */
nav div div ul li .input-field input[type=text]:focus {
    border-bottom: 1px solid #ffffff !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
}

nav div div ul li .input-field input{
    padding-left: 10px !important;
}

nav .brand-logo{
    padding-left: 20px;
}

/* Mobile navbar styles */
.sidenav .input-field .prefix.active{
    color: #FFFFFF !important;
}

input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #FFFFFF;
    box-shadow: 0 1px 0 0 #FFFFFF;
}

.seperator{
    border-top: 1px solid #c1c1c1;
}

.sidenav li .input-field{
    margin: 0 !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sidenav li .input-field .prefix{
    top: 2rem;
}