#banner {
    margin: auto;
    word-wrap: break-word;
    overflow: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

@media only screen and (max-width: 600px) {
    .product-image{
        float: none !important;
        margin: auto;
    }
}

.store {
    padding-right: 5%;
    padding-left: 5%;
}

.product-image{
    padding-top: 4%;
    float: right;
}

.content {
    margin: auto;
    align-self: center;
}

.container {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
}

#product-price {
    font-size: 26px;
    font-weight: bold;
}

.set-price{
    color: #2979FF;
}
.normal-price{
    color: black;
    text-decoration: line-through;
}

.details {
    border: solid 2px;
    background-color: white;
    padding: 2%;
    align-content: center;
    margin-bottom: 100px;
    border-radius: 8px;
    padding-top: 5%;
    padding-bottom: 5%;
}

h7 {
    color: #4caf50 !important;
    font-weight: bold;
}

.responsive-img {
    box-shadow: 10px 10px 8px #888888;
}

.btn-small {
    margin-top: 1rem;
}

.checked {
    color: orange;
}
#stars {
    padding-top: 1rem;
}
.star {
    background: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
}

.star:hover {
    color: orange
}

.star:hover span {
    transform: translateY(0) scale(2);
}

#give_review {
    margin-left: 0.5rem;
}

