.store {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.store-product {
    flex: 1;
    flex-basis: 30%;
    padding: 1%;
    justify-content: space-between;
}
.square {
 position: relative;
 width: 300px;
 height: 300px;
 overflow: hidden;
}

.card-image{
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
     margin-bottom: auto;
  }

