
#banner {
    margin: auto;
    word-wrap: break-word;
    overflow: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
.content {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
}
.store {
    padding-right: 5%;
    padding-left: 5%;
    border: black;
}

.store-product {
    align-self: flex-start;
    padding: 1%;
    flex-basis: 25%;
    height: 350px;
}

.custom-select {
    flex: 1;
    flex-basis: 30%;
    padding: 1%;
    justify-content: space-between;
}
.square {
 position: relative;
 width: 300px;
 height: 300px;
 overflow: hidden;
}

.card-image{
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
     margin-bottom: auto;
  }

.store-nav {
    float: left;
}

#product-title {
    font-size: 20px;
    font-weight: bold;
}

#product-price {
    font-size: 16px;
    color: black;
    font-weight: bold;
    align-self: center;
}
#singleprod {
    margin-left: 0;
}

.price-box {
    padding: 5px;
    border: 1px solid #000 !important;
    border-radius: 5px;
    background-color: indianred;
    width: 90px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}