
#banner {
    margin: auto;
    word-wrap: break-word;
    overflow: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.store {
    padding-right: 5%;
    padding-left: 5%;
}

.store-product {
    align-self: flex-start;
    padding: 1%;
    flex-basis: 25%;
    height: 350px;
}

.custom-select {
    flex: 1;
    flex-basis: 30%;
    padding: 1%;
    justify-content: space-between;
}

.product-img{
    height: 300px;
    object-fit: cover;
}

.card-image:hover:before{
    border: 3px solid black;
}

.store-nav {
    float: left;
}

#product-title {
    font-size: 16px;
    font-weight: bold;
}

#product-price {
    font-size: 26px;
    color: black;
    font-weight: bold;
    align-self: center;
}

.price-box {
    padding: 5px;
    border: 1px solid #000 !important;
    border-radius: 5px;
    background-color: indianred;
    width: 90px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content {
    margin-top: 10px;
}
.discount{
  color: black !important;
  text-decoration: line-through;
}

.set-price{
  color: #2979ff;
}

.tag {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background-color: #FFF;
  padding: 20px 0;
  vertical-align: middle;
  margin: 10px;
  color: #2979ff;
  font-weight: bold;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  border: 3px solid #2979ff;
  font-size: 24px;
  text-align: center;
}